PORT=3001
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=<app>
MONGO_DB=docuflow

OCR_SERVICE_URL=http://localhost:5001
NER_SERVICE_URL=http://localhost:5002
OLLAMA_URL=http://localhost:11434

TESSERACT_PATH=C:\Program Files\Tesseract-OCR\tesseract.exe
POPPLER_PATH=C:\path\to\poppler\Library\bin
